/* selects body defaults */
body { 
font-family: 'Questrial';
background: #231f20;
color: white;
font-size: 22px;
line-height: 1.5;
text-align:left;
width: 1366px;
margin: 0 auto;
clear: both;
}

/* selects <a> default */
a {
	text-decoration: none;
}

/* social-media class */
#social-media {
	border-radius: 20px;
	margin: 2px;
	padding-left: 150px;
	padding-top: 30px;
	float: left;
}

/* input class */
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* logo class */
#logo {
	padding-left: 39%;
}

/* mainNav default */
.mainNav {
	background-color: inherit;
	height: 40px;
	width: 100%;
	border-radius: 20px;
	padding-left: 21%;
	padding-bottom: 10px;
	position:relative;
	z-index:1000;
}

/* mainNav unordered functions */
.mainNav  ul{
	list-style: none;
	margin: 0px;
	padding: 0px
}

/* mainNav unordered list functions */
.mainNav ul li{
	float: left;
	width: 200px;
	height: 40px;
	background-color: inherit;
	line-height: 40px;
	text-align: center;
}

/*  mainNav unordered list <a> */
.mainNav ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

/*  mainNav unordered list <a> link and visited links */
.mainNav ul li a:link, .mainNav ul li a:visited{
	color: white;
}

/* mainNav unordered list <a> on hover */
.mainNav ul li a:hover{
	background-color: inherit;
	color: white;
	text-shadow: none;
	font-size: 24px;
}

/*  mainNav unordered list for sub menu */
.mainNav ul li ul li{
	display: none;
}

/*  mainNav unordered list for sub menu hover */
.mainNav ul li:hover ul li{
	display: block;
	background-color: #231f20;
}

/*  box menu */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: auto;
  padding-top: 30px;
  margin-bottom: -40px;
}

/* do not display slides */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with small see through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  top: 0;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* dot hover */
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* about section */
.about {
	text-align: center;
}

/* line break default */
hr {
	width: 600px;
}

/* line break id */
.mainHr {
	width: 1300px;
}

/* bottomBar functions on home page*/
#bottomBar {
	padding-left: 17%;
	padding-top: 20px;
}

/* bottom bar image on home page */
#bottomBar img{
	height: 200px;
}

/* image on home screen - Peta */
#peta {
	padding-left: 220px;
}

/* thegallery on range page which holds the images */
.thegallery {
	display: block;
	background-color: #231f20;
	padding-left: 174px;
	width: 100%;
	position: relative;
	padding-bottom: 20px;
	float: left;
}

/* each gallery image */
.gallery {
    margin-left: 80px;
	margin-top: 40px;
    border: 1px solid #ccc;
    width: 230px;
	float: left;
}

/* gallery if hovered */
.gallery:hover{
    border: 1px solid #777;
	background-color: inherit;
	color: white;
	text-shadow: none;
	text-decoration: underline;
}

/* img defaults in gallery */
.gallery img {
    width: 100%;
    height: auto;
}

/* description for bags in gallery */
.desc {
    padding: 15px;
    text-align: center;
}

/* class for the footer */
#footer {
	padding-top: 10px;
}

/* paragraph for footer */
#footer p {
	display: inline;
	margin: 30px;
	padding-left: 130px;
}

/* <a> in gallery */
#footer a {
	text-decoration: none;
	color: white;
}

/* <a> hover functions */
#footer a:hover{
 	background-color: inherit;
	color: white;
	text-shadow: none;
	text-decoration: underline;
}

/* class for content */
#content {
	width: 90%;
}

/* container id for product pages */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
}

/* left column on the product page with image */
.left-column {
  width: 50%;
  position: relative;
  display: inline-block;
  margin: 30px;
  transition: all 0.3s ease;
}

/* right column on product page  */
.right-column {
  width: 50%;
  margin-top: 20px;
}
 
/* left column with the image functions */
.left-column .img-top {
     display: none;
     position: absolute;
	 margin: 30px;
     top: 0;
     left: 0;
	height: 400px;
	padding-bottom: 40px;
}

.left-column:hover .img-top{
    display: inline;
}

.left-column img.active {
  opacity: 1;
}

/* product description on product page */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: white;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: white;
  line-height: 24px;
}

/* product colour on product page */
.product-colour {
  margin-bottom: 30px;
}

.product-colour p {
  font-size: 18px;
}
 
/* color choose on product page */
.color-choose div {
  display: inline-block;
  padding: 5px;
}

/* class for contact form on contact us */
#contact-form {
	width: 70%;
	padding-left: 350px;
}

/* input definition on contact us page */
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
    width:100%;
    box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}

/*  contact form button for submitting */
#contact-form button[type="submit"] {
    cursor:pointer;
    width:20%;
    border:none;
    background:#565656;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}

/* sites functions on sitemap page */
.sites h1{
	text-decoration: underline;
	color: white;
	display: block;
	text-align: center;
}

.sites ul {
	list-style: none;
	margin: 0px;
	padding: 0px
}

.sites a {
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
}

.sites a:hover {
	font-size: 24px;
}

/* map size on contact us page */
#map {
    height: 400px;
    width: 100%;
}

/* Responsive for 940px Maximum*/
@media (max-width: 940px) {
	
body {
	width: 940px;
}

hr {
	width: 600px;
}
.mainHr {
	width: 940px;
}

#social-media {
	border-radius: 20px;
	margin: 2px;
	padding-left: 50px;
	padding-top: 30px;
	float: left;
}

#logo {
	padding-left: 25%;
}

.mainNav {
	background-color: inherit;
	height: 40px;
	width: 100%;
	border-radius: 20px;
	padding-left: 10%;
	padding-bottom: 10px;
	position:relative;
	z-index:1000;
}

.mainNav  ul{
	list-style: none;
	margin: 0px;
	padding: 0px
}

.mainNav ul li{
	float: left;
	width: 160px;
	height: 40px;
	background-color: inherit;
	line-height: 40px;
	text-align: center;
}

.mainNav ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

.mainNav ul li a:hover{
	background-color: inherit;
	color: white;
	text-shadow: none;
	font-size: 24px;
}

.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  padding-top: 20px;
  margin-bottom: -40px;  
  margin-left: 70px;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  transition: 0.9s ease;
  border-radius: 0 3px 3px 0;
}
.dot {
  display: none;
}

#bottomBar img {
	padding-left: 2px;
	padding-top: 20px;
	margin: 10px;
}

#footer p {
	display: inline;
	margin: 20px;
	padding-left: 30px;
	text-align: center;
}

.about {
	width: 836px;
	text-align: center;
}

.thegallery {
	display: block;
	background-color: #231f20;
	padding-left: 10px;
	width: 100%;
	position: relative;
	padding-bottom: 20px;
	float: left;
}

.gallery {
    margin-left: 30px;
	margin-top: 40px;
    border: 1px solid #ccc;
    width: 230px;
	float: left;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
}

.left-column {
  width: 40%;
  position: relative;
  display: inline-block;
  margin: 30px;
  transition: all 0.3s ease;
}
 
.right-column {
  width: 40%;
  margin-top: 20px;
}

#contact-form {
	width: 70%;
	padding-left: 180px;
	padding-top: 20px;
}

.sites {
	padding-right: 100px;
}

#map {
    height: 400px;
    width: 100%;
}
}


/* Responsive for 535px Maximum*/
@media (max-width: 535px) {
body {
	width: 535px;
}

hr {
	width: 353px;
}
.mainHr {
	width: 535px;
}

#social-media {
	display:none;
}

#logo {
	padding-left: 110px;
}

.mainNav {
	background-color: inherit;
	height: 40px;
	width: 100px;
	border-radius: 20px;
	padding-left: 160px;
	padding-bottom: 10px;
	position:relative;
	z-index:1000;
}

.mainNav  ul{
	list-style: none;
	margin: 0px;
	padding: 0px
}

.mainNav ul li{
	float: left;
	width: 200px;
	height: 40px;
	background-color: inherit;
	line-height: 40px;
	text-align: center;
}

.mainNav ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

.mainNav ul li:hover ul li{
	display: none;
}

.slideshow-container {
  max-width: 375px;
  position: relative;
  margin: auto;
  padding-top: 150px;
  margin-bottom: -40px;  
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 70%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  transition: 0.9s ease;
  border-radius: 0 3px 3px 0;
}
  .dot {
  display: none;
}

#bottomBar img {
	padding-left: 8px;
	padding-top: 20px;
}

#footer p {
	display: inline;
	margin: 55px;
	padding-left: 70px;
	text-align: center;
}

.about {
	padding-top: 110px;
	width: 520px;
	text-align: center;
}

.thegallery {
	display: block;
	background-color: #231f20;
	padding-left: 114px;
	width: 100%;
	position: relative;
	padding-bottom: 20px;
	float: left;
}

.gallery {
    margin-left: 30px;
	margin-top: 40px;
    border: 1px solid #ccc;
    width: 230px;
	float: left;
}

.container {
  max-width: 535px;
  margin-top: 120px;
}

.left-column {
  width: 20%;
  transition: all 0.3s ease;
}

.left-column img {
	height: 240px;
	padding-left: 110px;
}

.left-column:hover .img-top{
    display: none;
}
 
.right-column h1 {
	font-size: 26px;
	padding-top: 280px;
}

#contact-form {
	width: 90%;
	padding-left: 110px;
	padding-top: 120px;
}

.sites {
	padding-right: 20px;
}

#map {
    height: 400px;
    width: 100%;
}

}

/* Responsiveness for 375px */
@media (max-width: 375px) {
body {
	width: 375px;
}

hr {
	width: 275px;
}
.mainHr {
	width: 375px;
}

#social-media {
	display:none;
}

#logo {
	padding-left: 30px;
}

.mainNav {
	background-color: inherit;
	height: 40px;
	width: 100px;
	border-radius: 20px;
	padding-left: 74px;
	padding-bottom: 10px;
	position:relative;
	z-index:1000;
}

.mainNav  ul{
	list-style: none;
	margin: 0px;
	padding: 0px
}

.mainNav ul li{
	float: left;
	width: 200px;
	height: 40px;
	background-color: inherit;
	line-height: 40px;
	text-align: center;
}

.mainNav ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

.mainNav ul li:hover ul li{
	display: none;
}

.slideshow-container {
  max-width: 325px;
  position: relative;
  margin: auto;
  padding-top: 150px;
  margin-bottom: -40px; 
  margin-left: 20px;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 70%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  transition: 0.9s ease;
  border-radius: 0 3px 3px 0;
}
  .dot {
  display: none;
}

#bottomBar img {
	margin-left: -42px;
	padding-top: 20px;
}

#footer p {
	display: inline;
	margin: 57px;
    padding-left: 10px;
	text-align: center;
	font-size: 18px;
}

.about {
	padding-top: 110px;
	width: 348px;
	text-align: center;
	font-size: 20px;
}

.thegallery {
	display: block;
	background-color: #231f20;
	padding-left: 30px;
	width: 100%;
	position: relative;
	padding-bottom: 20px;
	float: left;
}

.gallery {
    margin-left: 30px;
	margin-top: 40px;
    border: 1px solid #ccc;
    width: 230px;
	float: left;
}

.container {
  max-width: 375px;
  margin-top: 120px;
}

.left-column {
  width: 05%;
  transition: all 0.3s ease;
}

.left-column img {
	height: 240px;
	padding-left: 30px;
}

.left-column:hover .img-top{
    display: none;
}

.right-column {
	width: 50%;
}
.right-column h1 {
	font-size: 26px;
	padding-top: 280px;
}

#contact-form {
	width: 90%;
	padding-left: 50px;
	padding-top: 120px;
}

.sites {
	padding-right: 20px;
}

#map {
    height: 400px;
    width: 100%;
}
}

